.card {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    max-width: 370px;
}

.card__img {
    border-radius: 20px;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05);

    object-fit: cover;
    aspect-ratio: 37 / 18;
}

.card__body {
    padding: 20px 24px;
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    background-color: #ffffff;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05);
}

.card__title {
    margin-bottom: 5px;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.2;
    color: #000000;
}

.card__price {
    font-size: 20px;
    line-height: 1.2;
    color: #00ae6c;
    margin-bottom: 25px;
}

.card__list {
    padding-left: 22px;
    margin-bottom: 25px;
    
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    
    font-size: 14px;
    line-height: 1.2;
}

.card__list-item {
    list-style-type: disc;
}

.card__button-wrapper {
    margin-top: auto;
}